* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-size: 20px;
}

main {
	margin: 20px auto;
	width: 90vw;
	height: 90vh;
	outline: 2px dotted green;

	display: grid;
	grid-template-rows: 200px auto 50px;
	/*grid-template-columns: 200px auto 200px;*/
}

header, footer{
	outline: 2px dashed red;
	grid-column: 1/-1;
}



.container {
background-color: #eee;
outline: 2px dashed blue;
grid-column: 1/-1;

	display: grid;
	/*grid-template-rows: 100%;*/
	grid-template-columns: 80px auto 80px;
	column-gap: 20px;
}

.arrow {
	display: flex;
	align-items: center;
	justify-content: center;
}
.prev, .next {
	/*background-color: yellow;*/
	height: 200px;
	width: 50px;
	font-weight: bold;
	font-size: 2em;
	/*margin: auto;*/
}

.calendar {
	background-color: #ddd;

	display: grid;
	grid-template-rows: 50px auto;
	/*grid-template-columns: 14.28% 14.28% 14.28% 14.28% 14.28% 14.28% 14.28%;*/
}

.week-days, .dates {
	display: grid;
	grid-template-columns: 14.28% 14.28% 14.28% 14.28% 14.28% 14.28% 14.28%;
}
.week-day {
	font-weight: bold;
	/*font-size: 1.5em;*/
	padding: 5px;
}

.holiday {
	color: red;
}

.item {
	/*height: 100px;
	width: 100px;*/
	/*outline: 1px solid #0f0;*/
	/*display: inline-block;*/
	border-top: 2px solid #fff;
	border-bottom: 2px solid #ccc;

	border-right: 2px solid #bbb;
	border-left: 2px solid #fff;
	padding: 5px;
	cursor: pointer;
}

.disabled {
	background-color: #bbb;
	color: #fff;
	cursor: auto;
}